{% load static %}

<div class="create-nft">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>{{ homepage_nft.title }}</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="main-button">
            <a href="{% url 'create' %}">{{ homepage_nft.btn_name }}</a>
          </div>
        </div>
        {% for i in homepage_nft_content %}
          <div class="col-lg-4">
            <div class="item first-item">
              <div class="number">
                <h6>{{ i.id }}</h6>
              </div>
              <div class="icon">
                <img src="{{ i.img.url }}" alt="">
              </div>
              <h4>{{ i.title }}</h4>
              <p>{{ i.text }}.</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>