{% extends 'main/base.html' %}
  {% block body %}
  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>{{ general_title.title2 }}</h6>
          <h2>{{ general_title.subtitle2 }}</h2>
          <span>Home > <a href="#">{{ general_title.page_name2 }}</a></span>
          <div class="buttons">
            <div class="main-button">
              <a href="{% url 'explore' %}">{{ general_title.btn_name1 }}</a>
            </div>
            <div class="border-button">
              <a href="{% url 'create' %}">{{ general_title.btn_name2 }}</a>
            </div>
          </div>
    </div>
    </div>
    </div>
    </div>

    <div class="item-details-page">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <div class="line-dec"></div>
        <h2>{{ titles.title5 }} <em>{{ titles.colored_title5 }}</em>.</h2>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="left-image">
        <img src="{{ home_one_item.img3.url }}" alt="" style="border-radius: 20px;">
      </div>
    </div>
    <div class="col-lg-5 align-self-center">
      <h4>{{ home_one_item.title }}</h4>
      <span class="author">
        <img src="{{ home_one_item.img2.url }}" alt="" style="max-width: 50px; border-radius: 50%;">
        <h6>{{ home_one_item.name }}<br><a href="#">@{{ home_one_item.name_link }}</a></h6>
      </span>
      <p>{{ home_one_item.text }}</p>
      <div class="row">
        <div class="col-3">
          <span class="bid">
            {{ home_one_item.subtitle1 }}<br><strong>{{ home_one_item.current_bid }}</strong><br><em>({{ home_one_item.bid_price }})</em>
          </span>
        </div>
        <div class="col-4">
          <span class="owner">
            {{ details_info.subtitle }}<br><strong>{{ home_one_item.info1 }}</strong><br><em>(@{{ home_one_item.info2 }})</em>
          </span>
        </div>
        <div class="col-5">
          <span class="ends">
            {{ home_one_item.subtitle2 }}<br><strong>{{ home_one_item.last_bid }}</strong><br><em>({{ home_one_item.date }})</em>
          </span>
        </div>
      </div>
      <form action="">
        <label for="quantity-text">{{ details_info.bit_title }}:</label>
        <input placeholder="1 ETH" class="quantity-text">
        <button type="submit" id="form-submit" class="main-button">{{ details_info.btn_name1 }}</button>
      </form>
    </div>
    <div class="col-lg-12">
      <div class="current-bid">
        <div class="row">
          <div class="col-lg-6">
            <div class="mini-heading"><h4>{{ details_info.btn_name2 }}</h4></div>
          </div>
          <div class="col-lg-6">
            <fieldset>
              <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                  <option selected>Sort By: Latest</option>
                  <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
                  <option value="low">Sort By: Lowest</option>
                  <option value="high">Sort By: Highest</option>
              </select>
          </fieldset>
          </div>
        {% for i in details_content %}
            <div class="col-lg-4 col-md-6">
              <div class="item">
                <div class="left-img">
                  <img src="{{ i.img.url }}" alt="">
                </div>
                <div class="right-content">
                  <h4>{{ i.name }}</h4>
                  <a href="#">@{{ i.name_link }}</a>
                  <div class="line-dec"></div>
                  <h6>Bid: <em>{{ i.bid }}</em></h6>
                  <span class="date">{{ i.datetime }}</span>
                </div>
              </div>
            </div>
        {% endfor %}  
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    {% include 'inc/_your_nft.html' %}

    {% endblock %}